.example {
    background-color: #eee;
}

.example .slide-container {
    -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.example .image-wrapper {
    height: 0;
    position: relative;
    padding-bottom: 56.25%
}

.example .image-wrapper .image {
    background-image: url('http://via.placeholder.com/1900x1000');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.example .react-slideshow-container .default-nav {
    background: none !important;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: none;
  }
  
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    border-radius: 4px;
    max-width: 900px;
    max-height: 95vh;
    padding: 3rem 2rem;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .modal-content ::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.1);
    z-index: -1;
  }

.ReactModal__Content.ReactModal__Content--after-open ul {
    margin: 2rem 0;
}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    margin: 0.25rem;
}

.example button.screen-button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin:auto;
  }
  
.example button.screen-button:hover {
    background-color: #0e2a48;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    -webkit-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  
.example button.screen-button {
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
  }
.disclaimer{
    overflow: scroll;
}
@media screen and (min-width: 1150px){
    .react-slideshow-container .nav:first-of-type {
        left: -50px !important;
    }
    .react-slideshow-container .default-nav:last-of-type {
        right: -50px !important;
    }

}
@media screen and (max-width: 992px){
    .example button.screen-button:hover {
        background-color: none;
      }
    .disclaimer{
        max-height: 40vh;
    }
}