.header .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header li{
    display: inline-block;
}

.header .links{
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.header .social-links{
    display: inline-block;
    padding: 0;
    margin: 0;
}
.header .social-links li:first-of-type{
    margin-right: 1rem;
}
.header .social-links img{
    width: 25px;
}
.header .social-links img:hover{
    -webkit-filter:invert(50%);
            filter:invert(50%);
}
.header .nav{
    margin-left: auto;
}
.header .nav a{
    text-decoration: none;
    color: #000
}
.header .nav a:hover{
    color: rgb(130, 130, 130)
}

.header .nav li{
    margin-right: 1rem;
}
.header .nav li:last-of-type{
    margin-right: 0rem;
}